.cabecalho
{
  background-color: rgb(214, 69, 69);  
}
h1 {
    text-align: center;
}
h2 {
    background-color: rgb(154, 207, 118);
}
.imagem {
    width: 20px;
    background-image: linear-gradient();
}
p {
    font-size: 18px;
}
.paragrafo1 {
 font-size: 30px;
}
.paragrafos {
    font-size: 16px;
} 
.lista{
    display:inline-block
    margin: 0 16px
}
footer{
    background-color: rgb(8, 136, 248);
}